body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    transition: all 0.4s ease-in-out;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}

button:hover{
    transform: scale(1.05);
}

.dark{
    background-color: black;
    color: white;
}

.dark button{
    background-color: white;
    color: black;
    border: 2px solid white;
}